/*
  --- BISNODE impress.js stylesheet
*/


body{
    width:100%;
    font-size: 28px;
    font-family: Arial, sans-serif;
    background: white;
    color: black;
    text-shadow: 1px 1px 2px #000;

    counter-reset: slideIdx;
}

.right {
    float: right;
    width: 50%;
}
.left {
    float: left;
    width: 50%;
}

.blank {
    background-color: white;
}

#break {     
  top: 30%;
}
#break .modal-header {
    background-color: black;
    color: white;
    text-shadow: 2px 2px darkgray;    
    min-width: 400px;   
}
#break .modal-header button {
    color:white;
}
#break .modal-content {
    background-image: url(./img/break.png);
    background-size: cover;    
    min-height: 200px;
    min-width: 400px;  
}

#final:before {
    content: url(./img/bisnode-final.png);
}

.slide.title header{
    
    margin-left: -60px;
    margin-right: -60px;

    background: url(./img/bisnode-title.png);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100% auto;
    -o-background-size:  100% auto;
    -webkit-background-size:  100% auto;
    -moz-background-size:  100% auto;

    color: white;
    text-align: left;

    position: relative;
    top: 150px;
}

.slide.title.alternative header{
  color: rgb(7, 77,24);
}


.slide.title header h2 {     
    position:relative;
    top: 50px;

    min-height: 50%;
    padding-left: 50px;

    font-size: 62px;
    line-height: 70px;

    text-transform: uppercase;
}

.slide.title header .subtitle{    
    position: relative;
    top: 80px;

    padding-left: 50px;

    font-size: 32px; 
    
}
.slide header > .subtitle {
    color: lightgray;
    font-family: serif;
    font-style: italic;
    font-weight: normal;
    text-transform: none;    
}
.slide.title.alternative header .subtitle{   
    color: rgb(7, 77,24);
}

.slide header {
    
    padding-top: 10px;
    padding-bottom: 20px;

    color: rgb(0,0,0);
    font-size: 28px;
    font-weight: bold;
    
    text-align: left;
    text-transform: uppercase;

    background-origin: border-box;
    background-size: 50% Auto; 
    -o-background-size: 50% Auto;
    -webkit-background-size: 50% Auto; 
    -moz-background-size: 50% Auto;    
}

.slide header h2 {
    color: white
    font-family: sans-serif;
    text-transform: uppercase;
}

.slide footer {
    position: absolute;
    bottom: 35px;
   
    height: 85px;
    width: 1105px;
    
    background:   url(./img/bisnode-logo-black.png), url(./img/bisnode-divider-lightgreen.png);
    background-repeat: no-repeat;
    background-position: 850px top, 10px 45px;
    background-origin: border-box;
    background-size: 150px auto, 1024px auto;
    -o-background-size: 150px auto, 1024px auto;
    -webkit-background-size: 150px auto, 1024px auto;
    -moz-background-size: 150px auto, 1024px auto;

    padding-left: 40px;
    padding-top: 60px;
    padding-bottom: 0px;
    
    margin-top: 20px;
    margin-left: -70px;
    margin-bottom: -35px;
    
    font-size: 14px;
    color: rgb(7, 77, 24);
    text-align: left;
    vertical-align: middle;
    text-transform: uppercase;
    white-space: pre;
}

.slide footer:before {
    content: counter(slideIdx) "          ";    
}

.slide footer:after {
    content: "      " attr(data-author);
}

.slide.chapter header{
    
    position: relative;
    top: 40%;
    left: -9%;

    width: 116%;


    color: rgb(196,206,0);
    text-align: left;

    padding-bottom: 50px;
    padding-left: 110px;
    
}

.slide.chapter header::after {
    content: ".";
    
    width: 110%;
    height: 59px;

    margin-left: -10%;
    display: inline-block;
    
    background-image: url(./img/divider-sprites.png);
    background-position: 0 0px;
}
.slide.chapter.lightgreen header {
    /* default */
}

.slide.chapter.green header{
    color: darkgreen;
}
.slide.chapter.green header::after{
    background-position: 0 -57px;
}
.slide.chapter.orange header{
    color: orange;    
}
.slide.chapter.orange header::after{
    background-position: 0 -116px;
}
.slide.chapter.blue header{
    color: #149bdf;      
}
.slide.chapter.blue header::after{
    background-position: 0 -175px ;
}
.slide.chapter.gray header{
    color: gray;   
}
.slide.chapter.gray header::after{
    background-position: 0 -234px ;
}
.slide.chapter.lightgray header{
    color: lightgray;   
}
.slide.chapter.lightgray header::after{
    background-position: 0 -294px ;
}

.slide.chapter footer {
    background: none;
    color: lightgray;
}

.slide a:hover, a:focus {
    background: gray;
    color:white;
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

li.active a.text-success:hover{
    color:green;
}
li.active a.text-error:hover {
    color:red;
}

.slide a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: whitesmoke;
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    -webkit-transition: 0.5s; 
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

    line-height: inherit;
    background-clip: border-box;
}
pre code {
    font-size: 24px;
}
blockquote {
    font-size: inherit;
}
blockquote:before {
    content:"\f10e";
    font-family: 'FontAwesome';
    font-size: xx-large;
    color:lightgray;
    margin-right: 5px;   
}
blockquote.none:before {
    content:'';
}
.slide {
    display: block;

    min-width: 800px;
    min-height: 680px;
    width: 90%;
    height: 70%;
     
    padding: 20px 60px;
    margin-top: 20px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    text-align: left;

    font-family:  Arial, sans-serif;
    letter-spacing: -1px;

    counter-increment: slideIdx;
}
.image {
   display: block;

    width: 1024px;
    height: 680px;
     
    padding: 20px 60px;
    margin-top: 20px;

    border: 1px solid rgba(0, 0, 0, .3);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .1);

    background-size: 100% 100%; 

}
.image footer {
    
    position: absolute;
    bottom: 35px;
   
    height: 85px;
    width: 1105px;
    
    background: url(./img/bisnode-logo.png);
    background-repeat: no-repeat;
    background-position: 850px top;
    background-origin: border-box;
    background-size: 150px auto, 1024px auto;
    -o-background-size: 150px auto, 1024px auto;
    -webkit-background-size: 150px auto, 1024px auto;
    -moz-background-size: 150px auto, 1024px auto;

    padding-left: 40px;
    padding-top: 60px;
    padding-bottom: 0px;
    
    margin-top: 20px;
    margin-left: -70px;
    margin-bottom: -35px;
    
    font-size: 14px;
    color: rgb(7, 77, 24);
    text-align: left;
    vertical-align: middle;
    text-transform: uppercase;
    white-space: pre;
}
.image footer.black {    
    background: url(./img/bisnode-logo-black.png);
    background-repeat: no-repeat;
    background-position: 850px top;
    background-origin: border-box;
    background-size: 150px auto, 1024px auto;
    -o-background-size: 150px auto, 1024px auto;
    -webkit-background-size: 150px auto, 1024px auto;
    -moz-background-size: 150px auto, 1024px auto;

}

.image header {
    text-transform: uppercase;
    color: white;
    width: 55%;

    font-size: 28px;

    font-weight: bold;
    
    margin-left:-60px;
    margin-top: 450px;
    padding: 30px 60px 30px 60px;
}

.image p.leading {
    font-size: 24px;
    font-family: "Times New Roman";
    text-transform: none;
    font-style: italic;    
    margin-bottom: -.3em;
}
.image.title>header {

    color: white;
    width: inherit;
    height: 20%;
    font-size: 62px;
    
    border-top: 300px;
    margin-left:-60px;
    margin-top: 300px;
    padding-left: 60px;

}

.image.chapter>header {
    width: 90%;
    height: 100%;

    font-size: 52px;
    font-weight: bold;

    margin-top: 50px;
    padding: 30px 10px 30px 60px;
}
.image.chapter.lightgreen>header>em {
    color: rgb(189,207,49);
}
.image.chapter.orange>header>em {
    /* default */
}
.image.chapter.blue>header>em {
    color: rgb(57,187,236);
}
.step {
    width: 1024px;
}
.step:not(.active) {       
    opacity: 0.3; 
    z-index: -1;
}
.step.active { 
    opacity: 1.0; 
    z-index: 99;
}

.hint_text{
    margin-top: 120px;
    font-size:30px;
    background-color:#282a2f;
    padding:15px;
    border: 1px solid #484d52;
    border-radius: 5px;
    font-size: 18px;

}

.fallback-message {
    color: #eee;
    line-height: 1.3;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;
    border: 1px solid #E4C652;
    border-radius: 10px;

}

.fallback-message p {
    margin-bottom: 10px;
    display: none;
}

ul.list-inline>li::before {
    /* ignore bisnode list items for bootstrap list-inline */
    content: '';
}
em{
    font-style: normal;
    border-bottom: 1px solid #484d52;
    padding-bottom: 2px;
    color: #d5a830;
}
.table td.text-center {
    text-align: center;
    vertical-align: middle;
}
.box { width: 75px; }
.nav ul li {
    line-height: 24px;
}
.navbar {
    font-size: 14px;
}
quote, span, dd, dt {
    line-height: 36px;
    font-size: 24px;
}
table { font-size: 24px; }

.step.under-construction::after {
  content: "";
  background: url(./img/under-construction.png);
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

/* ======= new Bisnode design ===== */

.hintergrund1 {
    background-color: rgb(255,255,255);
}
.hintergrund2 {
    background-color: rgb(238,236,225);
}
.akzent1 {
    background-color: rgb(189,207,49);
}
.akzent1trans {
    background-color: rgba(189,207,49, 0.7);
}
.akzent2 {
    background-color: rgb(54,111,54);
}
.akzent2trans {
    background-color: rgba(54,111,54, 0.7);
}
.akzent3 {
    background-color: rgb(251,195,17);
}
.akzent3trans {
    background-color: rgba(251,195,17, 0.7);
}
.akzent4 {
    background-color: rgb(57,187,236);
}
.akzent4trans {
    background-color: rgba(57,187,236, 0.7);
}
.akzent5 {
    background-color: rgb(204,204,204);
}
.akzent5trans {
    background-color: rgba(204,204,204, 0.7);
}
.akzent6 {
    background-color: rgb(127,127,127);
}
.akzent6trans {
    background-color: rgba(127,127,127, 0.7);
}
.text0 {
    color: rgb(0,0,0);
}
.text1 {
    color: rgb(189,207,49);
}
.text2 {
    color: rgb(54,111,54);
}
.text3 {
    color: rgb(251,195,17);
}
.text4 {
    color: rgb(57,187,236);
}
.text5 {
    color: rgb(204,204,204);
}
.text6 {
    color: rgb(127,127,127);
}
ul.agenda , ol.agenda {
    list-style: none; 
    counter-reset: li;
}
ul.agenda li , ol.agenda li{
        height: 48px;
        width: 90%;
        display: list-item;
        margin: 5px 0px 5px 0px;  
        counter-increment: li;
        background-color: rgb(242,242,242);
        border-top-right-radius: 130px 50px;
        border-bottom-right-radius: 130px 50px ;
}


ul.agenda li::before, ol.agenda li::before {
  
  font-family: 'FontAwesome';
  font-size: 32px;
  content: '\f0c8';

  margin: -10px 5px 0 -15px;
  
  width: 50px;
  height: 53px;

  margin-right: 5px;
  margin-left: -20px;
  display: inline-block;

  text-align: center; 
}
ol.agenda li::before {
   content: counter(li);      
}
ul.agenda li::after , ol.agenda li::after {
    
  font-family: 'FontAwesome';
  font-size: 48px;
  content: '\f101';
  
  margin: -10px 0px -45px 0px;
  float:right;
  
  width: 55px;
  height: 53px;
  display: inline;er
  
}

ul.list-unstyled li::before , ol.list-unstyled li::before {
    content:'';
}

.item li:nth-child(1):before, .item dt:nth-of-type(1) , .agenda li:nth-child(1):after {
   color: rgb(189,207,49);
}
.item li:nth-child(2):before, .item dt:nth-of-type(2), .agenda li:nth-child(2):after  {    
    color: rgb(54,111,54);
}
.item li:nth-child(3):before, .item dt:nth-of-type(3), .agenda li:nth-child(3):after {
    color: rgb(251,195,17);
}
.item li:nth-child(4):before, .item dt:nth-of-type(4), .agenda li:nth-child(4):after {
    color:rgb(57,187,236);
}
.item li:nth-child(5):before, .item dt:nth-of-type(5), .agenda li:nth-child(5):after {
    color: rgb(204,204,204);
}
.item li:nth-child(6):before, .item dt:nth-of-type(6), .agenda li:nth-child(6):after {
    color:rgb(127,127,127);
}
#li-test {
    list-style: none;
}
#li-test li:before {
    content: '\f188';
}
ul.questions{
    list-style: none;
}
ul.questions li:before {
    content: '\f128';/*'\f059';*/
    font-family: 'FontAwesome';
    margin-right: 5px;
}
table.table {
    table-layout: fixed;
}
table, table.table-striped, table.table-bordered, tr , tr.success , tr.warning , tr.info {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}
table thead tr {
    background-color: rgb(189,207,49);
    color: white;
}
table tbody tr {
    color: black;
}
td, th {
    white-space: nowrap;
    min-height: 100%;
}

header .akzent1 {
    color: #000;
}

/* ==== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * { 
        background: transparent !important;      
        box-shadow:none !important; 
        text-shadow: none !important; 
    } /* Black prints faster: h5bp.com/s */
    a, a:visited { 
        text-decoration: underline; 
    }
    a[href]:after { 
        content: " (" attr(href) ")"; 
    }
    abbr[title]:after { 
        content: " (" attr(title) ")"; 
    }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
         content: ""; 
    } /* Don't show links for images, or javascript/internal links */
    thead { 
        display: table-header-group; 
    } /* h5bp.com/t */
    tr { 
        page-break-inside: avoid; 
    }
    img {
        max-width: 100% !important; 
    }
    
  .panel-collapse {
    display:block;
  }
  
  .collapse {
    display: block;
  }  

  .container-fluid {
    max-width: 1024px;
  }
    
    @page { margin: 0.5cm; }
    p { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }

    /* Impress.js specific */
    .fallback-message { display: none; }
    
    @page land {size: landscape;}
    
   
    table {
        page-break-inside: avoid;
    }
   .step, .slide { 
        page-break-inside: avoid; 
        page-break-after: always; 
        page-break-before: auto;
        border: none; 
        margin-top: 20px; 
        display: block;       
        clear: both;
        z-index: 1;
    }
    
    .step img { 
        max-height: 100%; 
        max-width: 100%;
    }

    #final, #print, footer {
        display:none;
    }
    /* plus some more step specific styles of your own
    #htop2 { display: none }
    */
}