@import url(../../bisnode/default.css);

body{
  
    font-size: 28px;
    font-family: 'Armata', sans-serif;
    background: white;
    color: black;
    text-shadow: 1px 1px 2px #000;
    
    counter-reset: slideIdx;
}

.step.assignment {
	background-image: url("../../bisnode/img/code-paper-x.jpg");
    padding: 20px;
}

#backslashwarning {    
    border: solid thick darkred;
    border-radius: 10px;
}
#backslashwarning>header{     
    color:white;
    text-shadow: 2px 2px 4px #000000;
    background-color: darkred;
    text-align: center;
}

.assignment>header {
    padding: 10px;
}

#kernel .akzent2, #kernel .akzent1, #kernel .akzent4 {
    color:white;
    text-shadow: 2px 2px 4px #000000;
} 

.iocommand {
    color: white;
    text-shadow: 2px 2px 4px #000000;

    background-color: rgb(189,207,49);

    padding: 10px 10px 10px 10px;
    margin: 20px 20px;
    
    border: 1px solid #000;
    border-radius: 10px;
}
table.iopic {
    border: none;
    box-shadow: none;
 }

table.table.auto {
    width: auto;
}

.pull-left {
    margin-right: 30px;
}
pre code em {
 border: solid thick orange; 
 border-radius: 10px;
 color:inherit;
}
.text0 {
    color: white;
    text-shadow: 2px 2px darkgray;   
}

table.table {
    min-width: 100px;
}

@media print {
    .right, .left {
        width: 100%;
    }
}