@import url(../../bisnode/default.css);



.fallback-message {
	display:none;	
	position:fixed;
	left:10px;	
	top:50px;
}

.not-supported>.fallback-message,
.not-supported>.fallback-message>header{
	display:block;	
	z-index: 300;
}

.not-supported>.fallback-message>a {
	display:block;
}
footer>span.breadcrumb {
	background: none;
	line-height: inherit;
	font-size: larger;	
	text-shadow: 2px 2px whitesmoke;
}

}
.not-supported>.fallback-message *,
.not-supported>.fallback-message>p>*,
.not-supported>.fallback-message>header>* {
	display:inline-block;
}
.not-supported>.fallback-message>p>b,
.not-supported>.fallback-message>header>b{
	display: inline;
}

.not-supported .alert-warning {
	color: darkred !important;	
}
.not-supported>.fallback-message>header {
	color: black !important;
	
	font-weight: bold;
}
.not-supported>.fallback-message>p {
	display: block;
	color: black;
}

.fa-powerpoint{	
    width: 30px;
    height: 30px;    
}

#home {
	background-image: url("../img/powerpoint2013.png");
}
.image header .lead {
	text-transform: none;
	text-align: right;
	font-style: italic;
	font-size: smaller;
}
.assignment>header {
    padding: 10px;
    font-family: 'Rock Salt', cursive;
    text-shadow: 3px 3px 5px white;
}
.image > header {
	-moz-box-shadow: 10px 10px 5px #888888;
	-webkit-box-shadow: 10px 10px 5px #888888;
	box-shadow: 10px 10px 5px #888888;
}

.solve {
	min-height: 500px;
}
.solve>li.correct.selected {
    background: none;
    color: darkgreen;
}
.solve>li.wrong.selected {
    background: none;
    color: red;
}
.solve>li.selected {
	text-shadow: 2px 2px 3px white;
	font-weight: bolder;
}

#gettoknow::before {
	background-image: url("../img/startup.png");
}
#presentations::before {
	background-image: url("../img/presentations.png");
}
#slides::before {
	background-image: url("../img/slides.png");
}
#texts::before {
	background-image: url("../img/texts.png");
}
#themes::before {
	background-image: url("../img/themes.png");
}

#quiz>header {
	width: 55%;
	height: auto;
	margin-top: 450px;
}
#quiz::before {
	background-image: url("../../bisnode/example/img/umbrella.jpg");
}
.step.slide.quiz {
	width: 15%;
	-moz-border-radius: 50%;
  	-webkit-border-radius: 50%;
  	border-radius: 50%;    	
  	border-style: solid;
  	border-width: medium;
}
.quiz::after {
	content: '\f128';

    font-family: 'FontAwesome';
    font-size: 512px;
	
	color: white;

	position:relative;
	display:block;
	
	width: 100%;
	text-align: center;
	
	margin:-800px auto 30px;
	
	z-index: -200;
	
}
.quiz.active.correct::after {
	content: '\f087';/*'\f164';*/
	color:rgba(55,114,0,0.4);	
}
.quiz.active.wrong::after {
	content: '\f088';/*'\f165';*/
	color:rgba(255,0,0,0.4);
}
.step.slide.quiz:nth-of-type(5n-3) {
    background-color: rgba(189,207,49, 0.4);
    border-color: rgb(189,207,49)
}
.step.slide.quiz:nth-of-type(5n-3)::after {
	text-shadow: 5px 5px rgba(189,207,49,0.4);
}

.step.slide.quiz:nth-of-type(5n-2) {
    background-color: rgba(54,111,54, 0.4);
    border-color: rgb(54,111,54);
}
.step.slide.quiz:nth-of-type(5n-2)::after {
	text-shadow: 5px 5px rgba(54,111,54,0.4);
}

.step.slide.quiz:nth-of-type(5n-1) {
    background-color: rgba(251,195,17, 0.4);
    border-color: rgb(251,195,17);
}
.step.slide.quiz:nth-of-type(5n-1)::after {
	text-shadow: 5px 5px rgba(251,195,17, 0.4);
}
 
.step.slide.quiz:nth-of-type(5n) {
    background-color: rgba(57,187,236, 0.4);
    border-color: rgb(57,187,236);
}
.step.slide.quiz:nth-of-type(5n)::after {
	text-shadow: 5px 5px rgba(57,187,236, 0.4);
}

.step.slide.quiz:nth-of-type(5n+1) {
    background-color: rgba(127,127,127, 0.4);
    border-color: rgb(127,127,127);
}
.step.slide.quiz:nth-of-type(5n+1)::after {
	text-shadow: 5px 5px rgba(127,127,127,0.4);
}
.step.slide.quiz>header {
	margin-top: 150px;
	text-align: center;
}
.step.slide.quiz>ol.solve  {
	margin-left:20%;
	margin-right:auto;
}

.step.slide.quiz.active {
 -webkit-box-reflect:below 5px -webkit-gradient(linear, left top, left bottom, from(transparent),color-stop(.85, transparent), to(rgba(255,255,255,0.3)));
 border-style: outset;
}
/**
	starting print media 
*/
@media print { 

	.not-supported>.fallback-message {
		display: none;
	}
	.step.slide.quiz {
		border:none;
	}
}