@import url(../../bisnode/default.css);

.not-supported * {
	display: none;
}

.fallback-message {
	display:none;
	width:100%;
	height:100%;
}

.not-supported>.fallback-message,
.not-supported>.fallback-message>p{
	display:block;
	color:inherit;
}
.not-supported>.fallback-message p *
 {
	display:inline-block;		
}
.image header .lead {
	text-transform: none;
	text-align: right;
	font-style: italic;
	font-size: smaller;
}
.assignment>header {
    padding: 10px;
    font-family: 'Rock Salt', cursive;
    text-shadow: 3px 3px 5px white;
}
.image > header {
	 box-shadow: 10px 10px 5px #888888;
}
.fa-excel{	
    width: 30px;
    height: 30px;    
}
.step.image::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-size: cover;	
	z-index: -1;
	-webkit-filter: blur(2px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);       
}
tr, td {
	border-collapse: collapse;
	border: solid thin black;
}
td.cell {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	color: black;
	text-shadow: 3px 3px 5px darkgray;

}
#op>thead>tr>td, #op>thead>tr>th,
#op>tbody>tr>td, #op>tbody>tr>th {
	text-align: center;
}
#home {
	background-image: url("../img/excel-2013.jpg");
}
#interface::before {
	background-image: url("../img/startup.png");
}

#workbooks::before {
	background-image: url("../img/empty_workbook.png");
}

#cells::before {
	background-image: url("../img/cells_workbook.png");
}

#worksheets::before {
	background-image: url("../img/worksheets.png");
}

#pagelayout::before {
	background-image: url("../img/page_layout.png");
}
#formulas::before {
	background-image: url("../img/relative_formula.png");	
}
#cellrefs::before {
	background-image: url("../img/cell_references.png");
}

#functions::before {
	background-image: url("../img/functions.png");
}

#freezing::before {
	background-image: url("../img/freezing.png");
}
#sorting::before {
	background-image: url("../img/sort_filter.png");
}
#grouping::before {
	background-image: url("../img/grouping.png");
}
#tables::before {
	background-image: url("../img/tables.png");
}
#charts::before {
	background-image: url("../img/charts.png");
}
#tracking::before{
	background-image: url("../img/tracking.png");	
}
#conditional::before{
	background-image: url("../img/conditional.png");	
}
#pivot::before{
	background-image: url("../img/pivot.png");	
}
#whatif::before {
	background-image: url("../img/whatifanalysis.png");	
}
#checkingfunctions::before {
	background-image: url("../img/formula_error.png");
}
#readfunctions::before {
	background-image: url("../../bisnode/example/img/umbrella.jpg");
}

.carousel a.left, .carousel a.right {
	width: 100px;
	vertical-align: middle;
}
.carousel .item {
	height:600px;
	text-align:center;
}
.carousel-control i {
	position:relative;
	top: 300px;
	font-size: 4em;
}
a.carousel-control.left, a.carousel-control.right{
	color: lightgray;
	text-shadow: 5px 5px 7px black;	
	background: none;
}
a.carousel-control.left{	
	background: -moz-linear-gradient(left,  rgba(189,207,49,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(189,207,49,1)), 
			color-stop(100%,rgba(189,207,49,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(189,207,49,1) 0%,rgba(189,207,49,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(189,207,49,1) 0%,rgba(189,207,49,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(189,207,49,1) 0%,rgba(189,207,49,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(189,207,49,1) 0%,rgba(189,207,49,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
a.carousel-control.right{	
	background: rgba(189,207,49,0);
	background: -moz-linear-gradient(left, rgba(189,207,49,0) 0%, rgba(189,207,49,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(189,207,49,0)), color-stop(100%, rgba(189,207,49,1)));
	background: -webkit-linear-gradient(left, rgba(189,207,49,0) 0%, rgba(189,207,49,1) 100%);
	background: -o-linear-gradient(left, rgba(189,207,49,0) 0%, rgba(189,207,49,1) 100%);
	background: -ms-linear-gradient(left, rgba(189,207,49,0) 0%, rgba(189,207,49,1) 100%);
	background: linear-gradient(to right, rgba(189,207,49,0) 0%, rgba(189,207,49,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdcf31', endColorstr='#bdcf31', GradientType=1 );
}
.carousel-indicators>li,
.carousel-indicators>li.active {
	text-indent: 0px;
	border:none;	
	background-color: rgba(0,0,0,0);
}
.carousel-caption p {
	color:darkgray;
}
.carousel-indicators>li[title]:hover:after {
	color: rgb(189,207,49);
	background-color: whitesmoke;

	content: attr(title);

  	padding: 4px 8px;
  	
  	position: absolute;
  	width:80%;
  	left: 50px;
  	bottom: 30px;

  	white-space: nowrap;

  	z-index: 20px;
  	
	text-shadow: 2px 2px 3px black;

	border-color: black;
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px;  	
}
.carousel-indicators>li::before {	
	color: rgb(189,207,49);
	font-family: 'FontAwesome';
 	font-size: 18px;  	
	content: '\f111';
	text-shadow: 2px 2px 3px black;	
}
.carousel-indicators>li.active::before {
	content: '\f10c';	
}

#carousel-worksheet>ol.carousel-indicators {
	background-image: url("../img/worksheetview_button.png");
	background-size: 110px 30px;
}
#carousel-textalignment>ol.carousel-indicators {
	background-image: url("../img/textalignment_button.png");
	background-size: 240px 30px;
}
.carousel-overlay>ol.carousel-indicators {	
	background-color: rgba(245,245,245,0.5);
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-position: 50% center;	
}
.carousel-overlay>.carousel-indicators>li {
	width:27px;
	height:30px;
	padding:10px;
	padding-right:20px;
	margin-top: 10px;
	border:none;
	border-radius:0;
	
}
.carousel-overlay>.carousel-indicators>li.active{
   background-color:  rgba(143,188,143,0.5);
}
.carousel-overlay>.carousel-indicators>li::before,
.carousel-overlay>.carousel-indicators>li::after {
	content:"";
	border:none;
	border-radius:0;
}

#readit {
 /* Set rules to fill background */
  min-height: 100%;
  min-width: 900px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
}
.canvas>i.fa{
	position:absolute;
	font-size:2em;
}
.canvas>i.fa-circle-o:hover:before {	
	content: '\f111';
	font-size: larger;
}
#legend {
	right: 10px;
	bottom: 280px;
}
#title {
	top: 10px;
	left: 450px;
}
#dataseries {
	left: 220px;
	top: 250px;
}
#verticalaxis {
	left: 0px;
	top: 150px;
}
#horizontalaxis {
	left: 200px;
	bottom: 5px;
}
.overviewtext {
 	position:absolute; 	
 	display: none;
 	width: 50%;
 	background: white; 	
 	margin:10px;
 	padding:10px;
 	border: solid thin black;
 	border-radius: 10px;
 }
.overviewtext h2 {
	padding: 10px;
	text-align: center;
	color:white;
	text-shadow: 2px 2px 3px black;	
}
#legendtext {
	top: 300px;
	right: 80px;
}
#titletext {
	top: 100px;
	left: 200px;
}
#dataseriestext {
	top: 200px;
 	left: 300px;
}
#verticalaxistext {
	top: 100px;
	left: 75px;	
}
#horizontalaxistext {
	bottom: 50px;
 	left: 250px;
}
#ifquickaccess {
	top: 20px;
	left: 150px;
}
#ifmyaccount {
	top: 50px;
	right: -40px;
}
#ifribbon {
	top: 50px;
	right: 200px;
}
#ifcommands {
	top: 120px;
	left: 260px;
}
#ifnamebox {
	top: 180px;
	left: 20px;
}
#ifformulabar {
	top: 180px;
	left: 300px;
}
#ifcolumn {
	top: 210px;
	left: 560px;
}
#ifrow {
	top: 240px;
	left: -10px;
}
#ifcell {
	top: 240px;
	left: 500px;
}
#ifworksheets {
	bottom: 10px;
	left: 70px;
}
#ifviews {
	bottom: -20px;
	right: 200px;
}
#ifzoom {
	bottom: -20px;
	right: 80px;
}
#ifscrollbars {
	bottom: 20px;
	right: -60px;
}
#ifquickaccesstext {
	top: 10px;
	left: 220px;
}
#ifmyaccounttext {
	top: 20px;
	right: 30px;
}
#ifribbontext {
	top: 20px;
	right: 260px;
}
#ifcommandstext {
	top: 90px;
	left: 330px;
}
#ifnameboxtext {
	top: 160px;
	left: 80px;
}
#ifformulabartext {
	top: 160px;
	left: 360px;
}
#ifcolumntext {
	top: 190px;
	left: 620px;
}
#ifrowtext {
	top: 220px;
	left: 50px;
}
#ifcelltext {
	top: 220px;
	left: 560px;
}
#ifworksheetstext {
	bottom: -20px;
	left: 140px;
}
#ifviewstext {
	bottom: -40px;
	right: 260px;
}
#ifzoomtext {
	bottom: -40px;
	right: 140px;
}
#ifscrollbarstext {
	bottom: 0px;
	right: 0px;
}
#ribbon{
	min-height: 300px;
	width:1200px;
}
#carousel-ribbon a,
#carousel-textalignment a.carousel-control{
	min-height: 300px;
}
#carousel-textalignment a.carousel-control>i{
	top: 150px;
}

#carousel-ribbon .carousel-inner,
#carousel-ribbon .carousel-inner .item {
	width:100%;
	min-height: 300px;
}
#carousel-ribbon .carousel-inner .item img {
	margin-top: 20px;
	min-height:35%;
	min-width:auto;
}
#carousel-ribbon .carousel-inner .item .carousel-caption {
	top: 35%;
}

#carousel-textalignment.slide {
	min-height: 380px ;
}
#carousel-textalignment.carousel a {
	min-height: 300px;
}
#carousel-textalignment.carousel .carousel-inner>.item {	
	min-height: 300px;
	height: auto;	
}
#carousel-textalignment.carousel .carousel-inner .item img {
	margin-top: 20px;
	height:100px;
	min-width:auto;
}
#carousel-textalignment.carousel .carousel-inner .item .carousel-caption {
	top: 30%;
	min-width: 70%;
}

#carousel-textalignment.carousel .carousel-indicators>li[title]:hover:after {
	bottom: -50px;
}
#backstagemenu {
	border:none;
	background-color: #666;
	font-size:16px;
	width:20%;
}

#backstagemenu>li {		
	background-color: #666;
	color:white;	
	text-align: left;
}
#backstagemenu>li a {
	padding:7px;
	padding-left:17px;
	background-color: #666;
	border-radius:0px;
}
#backstagemenu>li.backstage-top {
	min-height: 10px;	
}
#backstagemenu>li.backstage-top>span {
	margin:10px;
}
#backstagemenu>li a:hover {
	background-color: darkgreen;
} 
#backstagemenu li.backstage-top:hover {	
	color: darkseagreen;
}
#backstagemenu li.active a,
#backstagemenu li.active a:focus {
	background-color: darkseagreen;
	width:100%;
	border:none;
}
#backstagedescription {
	position:absolute;
	top: 100px;
	left: 25%;
}
#backstagedescription>div {
	position:relative;
	top: -10px;
	width: 700px;
	height: 540px;
}
#backstagedescription>div::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-size: contain;	
	z-index: -1;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}
#bsinfo::before {	
	background-image: url("../img/backstage_info.png");
}
#bsnew::before {	
	background-image: url("../img/backstage_new.png");
}
#bsopen::before {	
	background-image: url("../img/backstage_open.png");
}
#bssaveas::before {	
	background-image: url("../img/backstage_saveas.png");
}
#bsprint::before {	
	background-image: url("../img/backstage_print.png");
}
#bsshare::before {	
	background-image: url("../img/backstage_share.png");
}
#bsexport::before {	
	background-image: url("../img/backstage_export.png");
}
#bsaccount::before {	
	background-image: url("../img/backstage_account.png");
}
#bsoptions::before {	
	background-image: url("../img/backstage_options.png");
}
.white {	
	color: rgb(245,245,245);	
}
.whitetrans {
	background-color: rgba(245,245,245,0.7);	
}
.whitetrans p {	
	color:black;
}
.tab-pane .whitetrans{
	position:relative;
	top: 100px;
}
div.alert-warning {    
    border: solid thick darkred;
    border-radius: 10px;
}
.alert-warning>header{     
    color:white;
    text-shadow: 2px 2px 4px #000000;
    background-color: darkred;
    text-align: center;
}
.alert-info {
	border-radius: 10px;
}
.white {
	color: white;
}
#exportoptions {
	max-width: 45%;
	height: auto;
}
#reviewdialog {
	max-width: 45%;
	height: auto;
	padding-right: 20px;
}
#documentinspector li {
	font-size: smaller;
}
.list-inline.item>li {
	color:whitesmoke;
	text-shadow: 2px 2px 3px black;
}
.list-inline.item>li[tooltip]:hover:after {
	color: black;
	background-color: whitesmoke;
	
	content: attr(tooltip);
	font-family:'Courier New', Arial;

}
#tableformatoptions li[tooltip]:hover:after {
	position:absolute;
	bottom: 50px;
	left: 52px;

	max-width:420px;
	min-height:50px;

  	z-index: 20px;
  	padding: 15px;	

}
#documentinspector li[tooltip]:hover:after {
	
	position:absolute;
	top: 70px;
	right: 50px;

	width:420px;
	min-height:200px;

  	z-index: 20px;
  	padding: 15px;	

}
#imgcelladdress {	
	padding-left: 20px;
	max-width:40%;
	height:auto;
}

#cellcontent dl>dd {
	padding-left: 10px;
}

.cursorcell {
	cursor: cell;
}
.cursore-resize {
	cursor: e-resize;
}
.cursorn-resize {
	cursor: n-resize;
}
.ribbon-pagelayout-image {
	display:block;
	background-image: url("../img/ribbon_pagelayout.png");
	margin:10px;
}
.ribbon-home-image {
	display:block;
	background-image: url("../img/ribbon_start.png");
	margin:10px;
}
.ribbon-formula-image {
	display:block;
	background-image: url("../img/ribbon_formula.png");
	margin:10px;
}
.ribbon-view-image {
	display:block;
	background-image: url("../img/ribbon_view.png");
	margin:10px;
}
.ribbon-data-image {
	display:block;
	background-image: url("../img/ribbon_data.png");
	margin:10px;
}
.ribbon-design-image {
	display:block;
	background-image: url("../img/ribbon_design.png");
	margin:10px;	
}
#rowscol0 {	
	width:100px;
	height:90px;	
	background-position: 0px -55px;
}
#rowscol1 {	
	width:90px;
	height:60px;	
	background-position: -735px -60px;
}
#rowscol2 {	
	width: 43px;
	height:70px;
	margin-right:100px;
	background-position: -435px -60px;
}
#rowscol3 {	
	width: 200px;
	height:85px;	
	margin:30px;
	background-position: -109px -60px;
}
#rowscol4 {	
	width: 160px;
	height:85px;	
	background-position: -568px -60px;
}
#ws0 {
  width: 400px;
  height:120px;	
  background-position: -140px -30px;	
}
#freeze01 {
  width: 110px;
  height: 80px;	
  background-position: -710px -55px;		
}
#split01 {
  width: 310px;
  height: 90px;	
  background-position: -710px -55px;		
}
#data01 {
  width: 80px;
  height: 65px;	
  background-position: -340px -55px;			
}
#sortingdialogimg {
	max-width: 40%;
	margin-right: 9px;
}
#sortingcustomlistdialog {
	max-width: 50%;
	margin-left:10px;
}
.alert-info>header {
	background-color: rgb(57,187,236);
	padding-top:0px;
	height:30px;
	margin-left: -15px;
	margin-right: -15px;
	color:white;
	text-shadow: 2px 2px 3px black;
	font-size: 20px;
	text-align:center;
}
#numberformatmenu {
	max-height:75%;
	padding-left:15px;
}
.menu-select:hover {
	color: rgb(143,188,143)
}
#headerandfootertext:focus {
	border-color: green;
}
#headerandfooterribbon {
	display: none;		
	max-width: 100%;
	position:relative;
	top: 0px;
	margin-bottom:20px;
}
table.exceltable>thead>tr>th,
table.exceltable>thead>tr>td,
table.exceltable>tbody>tr>th:nth-child(1) {
	background-color: lightgray; 
	color:black ;
	border:solid thin black;
}
.exceltable td, 
.exceltable th {
	text-align:center;
	width: 110px;
}
table.exceltable {
	margin-left: auto;
	margin-right: auto;
}
.exceltable td.formula,
.exceltable th.formula {
	font-family: "Courier New", Arial;
}
.activeCell {
	margin:5px;
	padding:0px 5px 0px 5px;
	font-weight: bold;
}
span.A1.activeCell {
	border:none;
	color:blue;
}
span.A2.activeCell {
	border:none;
	color:red;
}
span.A3.activeCell {
	border:none;
	color:darkgreen;
}
.A1.activeCell {
	border:dotted thick blue;
}
.A2.activeCell {
	border:dotted thick red;	
}
.A3.activeCell {
	border:dotted thick darkgreen;
}
.selectMe {
	text-align: center;
}
.selectMe:hover {
	cursor:pointer;
}
#mathorder>code {
	font-size: 2.5em;
}
#mathorder>code>em.result {
	font-size: 3.5em;
}
#f01 {
	width: 100px;
	height: 90px;
	background-position: -55px -55px;
}
#f02 {
	width: 110px;
	height:90px;
	background-position: -820px -55px;
}
.solve {
	list-style: none;
}
.solve>li::before {
	font-family: 'FontAwesome';
	content: '\f096';
	padding-right:10px;
	padding-left:5px;
}
.solve>li.correct.selected::before {
	color: darkgreen;
	text-shadow: 2px 2px 3px white;
	content:'\f046';
}
.solve>li.wrong.selected::before {
	color: red;
	text-shadow: 2px 2px 3px white;
	content:'\f05e'
} 
.solve>li:hover:before {
	content:'\f046';
} 
.solve>li:hover {
	color:black
}
.solve>li.selected {
	color:white;
	text-shadow: 2px 2px 3px black;
}
.solve>li.correct.selected {
	background-color: rgba(189,207,49,0.7);
}
.solve>li.wrong.selected {
	background-color: rgba(191,13,49, 0.7);
}

ol.item {
	counter-reset: itemcounter;
}
ol.item>li {
	list-style-type: none;
	margin-left: -20px;
}
ol.item li:before {
	counter-increment: itemcounter;
	content: counter(itemcounter) ". ";		
	
	text-shadow: 2px 2px 3px black;
	
	border-radius: 50%;
	
	margin-right:5px;
	margin-left: -20px;
	padding-left: 5px;
}
ol.item li:nth-child(1):before,
ol.item li:nth-child(7):before,
.list-inline.item>li:nth-child(1),
.list-inline.item>li:nth-child(7),
.list-inline.item>li:nth-child(13){
  color:white;
  background-color: rgb(189,207,49);
}
ol.item li:nth-child(2):before,
ol.item li:nth-child(8):before,
.list-inline.item>li:nth-child(2),
.list-inline.item>li:nth-child(8),
.list-inline.item>li:nth-child(14) {    
   color:white;
   background-color: rgb(54,111,54);
}
ol.item li:nth-child(3):before,
ol.item li:nth-child(9):before,
.list-inline.item>li:nth-child(3),
.list-inline.item>li:nth-child(9),
.list-inline.item>li:nth-child(15) {
   color:white;
   background-color: rgb(251,195,17);
}
ol.item li:nth-child(4):before,
.list-inline.item>li:nth-child(4),
.list-inline.item>li:nth-child(10),
.list-inline.item>li:nth-child(16){
   color:white;
   background-color:rgb(57,187,236);
}
ol.item li:nth-child(5):before,
.list-inline.item>li:nth-child(5),
.list-inline.item>li:nth-child(11),
.list-inline.item>li:nth-child(17){
   color:white;
   background-color: rgb(204,204,204);
}
ol.item li:nth-child(6):before,
.list-inline.item>li:nth-child(6),
.list-inline.item>li:nth-child(12),
.list-inline.item>li:nth-child(18){
   color:white;
   background-color:rgb(127,127,127);
}


#filter01 {
	margin-right:40px;
	height: 75px;
	width: 170px;
	background-position: -420px -55px;
}
#sortfilterimg {
	max-width: 40%;
	margin-right: 40px;
}
#filternumberimg {
	max-width:40%;
	margin-left:10px;
}
#filtersearch {
	margin:10px;
}
#bordermenuimg {
	max-width: 40%;
	max-height: 75%;
}
#groupimgbg {
	width:200px;
	height:90px;
	background-position: -950px -55px;
	margin-right:40px;
}
#table01 {
	height: 85px;
	width: 160px;
	background-position: -570px -60px;
	margin-right: 30px;
}
#tableadddrag {
	max-width:45%;
	margin-left:10px;
}
#table02 {
	height: 85px;
	width: 200px;
	background-position: -160px -60px;
	margin-right: 30px;
}
#table03 {
	position:absolute;
	right: 50px;
	bottom: 120px;

	height: 85px;
	width: 400px;
	background-position: -610px -60px;	
}
/**
	starting print media 
*/
@media print { 
	.canvas>i {
		display: none;
	}
	.canvas {		
		page-break-after: always;
	}
	.canvas .overviewtext p {		
		page-break-inside: avoid; 
	}
	.carousel-indicators {
		display:none;		
	}
	.carousel-inner,
	.carousel-inner .item {
		display: block;	
		width:100%;
		min-height: 300px;	
		height:auto;
		page-break-inside: avoid; 
	}
	#carousel-textalignment>.carousel-inner>.item{
		min-height:300px;		
	}
	.carousel-control {
		display: none;
	}
	.carousel-caption {
		top: 35%;
		left:0px;
		position:relative;
		text-align:left;
	}
	
	img.right, img.left, img.pull-left, img.pull-right {   
		width: auto;
		max-width: 40%;	
		max-height: 700px;
		float:none;
	}	
	.right, .left, .pull-left, .pull-right {       
		width:100%;
		float:none;
	}

    #backstagedescription {
    	position:relative;
    	top: 0px;
    	left: 0px;
    }    
	#backstagedescription>div {
		position:relative;
		top: 0px;
		width: 80%;
		height:auto;
	}

	#backstagedescription>div>h2,
	.carousel-caption>h2 {
		text-decoration: underline;
	}
	#backstagedescription>div::before {
		position:relative;
	}
    .tab-pane .whitetrans{
    	display:block;    
    	top: 0px;
    }
    .tab-pane {
        page-break-inside: avoid; 
    }    
    .overviewtext h2 {
    	padding: 0px;
    }
	.ribbon-home-image, .ribbon-pagelayout-image, 
	.ribbon-formula-image, .ribbon-view-image, .ribbon-data-image,
	.ribbon-design-image {
		display: none;		
	}
    #ifquickaccesstext, #ifmyaccounttext, #ifribbontext,
    #ifcommandstext, #ifnameboxtext, #ifformulabartext,
    #ifcolumntext, #ifrowtext, #ifcelltext, #ifworksheetstext,
    #ifviewstext, #ifzoomtext, #ifscrollbarstext {	
    	display:block;
    	position:relative;
		left: 0px;
		top: 0px;
		right: auto;
		bottom: auto;
		width: 80%;
		border: none;
	}
	#headerandfooterribbon {
		display:block;
	}
}