@import url(../../bisnode/default.css);

.image header .lead {
	text-transform: none;
	text-align: right;
	font-style: italic;
	font-size: smaller;
}
.assignment>header {
    padding: 10px;
    font-family: 'Rock Salt', cursive;
    text-shadow: 3px 3px 5px white;
}
.image > header {
	 box-shadow: 10px 10px 5px #888888;
}
.fa-excel{	
    width: 30px;
    height: 30px;    
}
.step.image::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-size: cover;	
	z-index: -1;
	-webkit-filter: blur(2px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);       
}
tr, td {
	border-collapse: collapse;
	border: solid thin black;
}
td.cell {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	color: black;
	text-shadow: 3px 3px 5px darkgray;

}
#op>thead>tr>td, #op>thead>tr>th,
#op>tbody>tr>td, #op>tbody>tr>th {
	text-align: center;
}
#start {
	background-image: url("../img/excel-2013.jpg");
}
#interface::before {
	background-image: url("../img/startup.png");
}

#workbooks::before {
	background-image: url("../img/empty_workbook.png");
}

#cells::before {
	background-image: url("../img/cells_workbook.png");
}

#worksheets::before {
	background-image: url("../img/worksheets.png");
}

#pagelayout::before {
	background-image: url("../img/page_layout.png");
}
#formulas::before {
	background-image: url("../img/relative_formula.png");	
}
#cellrefs::before {
	background-image: url("../img/cell_references.png");
}

#functions::before {
	background-image: url("../img/functions.png");
}

#freezing::before {
	background-image: url("../img/freezing.png");
}
#sorting::before {
	background-image: url("../img/sort_filter.png");
}
#grouping::before {
	background-image: url("../img/grouping.png");
}
#tables::before {
	background-image: url("../img/tables.png");
}
#charts::before {
	background-image: url("../img/charts.png");
}
#tracking::before{
	background-image: url("../img/tracking.png");	
}
#conditional::before{
	background-image: url("../img/conditional.png");	
}
#pivot::before{
	background-image: url("../img/pivot.png");	
}
#whatif::before {
	background-image: url("../img/whatifanalysis.png");	
}

.carousel a.left, .carousel a.right {
	width: 100px;
	vertical-align: middle;
}
.carousel .item {
	height:600px;
}
.carousel-control i {
	position:relative;
	top: 300px;
	font-size: 4em;
}
a.carousel-control.left, a.carousel-control.right{
	color: lightgray;
	text-shadow: 5px 5px 7px black;	
	background: none;
}
a.carousel-control.left{	
	background: -moz-linear-gradient(left,  rgba(189,207,49,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(189,207,49,1)), 
			color-stop(100%,rgba(189,207,49,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(189,207,49,1) 0%,rgba(189,207,49,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(189,207,49,1) 0%,rgba(189,207,49,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(189,207,49,1) 0%,rgba(189,207,49,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(189,207,49,1) 0%,rgba(189,207,49,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
a.carousel-control.right{	
	background: rgba(189,207,49,0);
	background: -moz-linear-gradient(left, rgba(189,207,49,0) 0%, rgba(189,207,49,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(189,207,49,0)), color-stop(100%, rgba(189,207,49,1)));
	background: -webkit-linear-gradient(left, rgba(189,207,49,0) 0%, rgba(189,207,49,1) 100%);
	background: -o-linear-gradient(left, rgba(189,207,49,0) 0%, rgba(189,207,49,1) 100%);
	background: -ms-linear-gradient(left, rgba(189,207,49,0) 0%, rgba(189,207,49,1) 100%);
	background: linear-gradient(to right, rgba(189,207,49,0) 0%, rgba(189,207,49,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdcf31', endColorstr='#bdcf31', GradientType=1 );
}
.carousel-indicators>li,
.carousel-indicators>li.active {
	text-indent: 0px;
	border:none;	
	background-color: rgba(0,0,0,0);
}
.carousel-caption p {
	color:darkgray;
}
.carousel-indicators>li[title]:hover:after {
	color: rgb(189,207,49);
	background-color: whitesmoke;

	content: attr(title);

  	padding: 4px 8px;
  	
  	position: absolute;
  	width:80%;
  	left: 50px;
  	bottom: 30px;

  	white-space: nowrap;

  	z-index: 20px;
  	
	text-shadow: 2px 2px 3px black;

	border-color: black;
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px;  	
}
.carousel-indicators>li::before {	
	color: rgb(189,207,49);
	font-family: 'FontAwesome';
 	font-size: 18px;  	
	content: '\f111';
	text-shadow: 2px 2px 3px black;	
}
.carousel-indicators>li.active::before {
	content: '\f10c';	
}
#carousel-worksheet>ol.carousel-indicators {
	background-image: url("../img/worksheetview_button.png");
	background-color: rgba(245,245,245,0.5);
	background-repeat: no-repeat;
	background-position: 50% center;
}
#carousel-worksheet>.carousel-indicators>li {
	width:27px;
	height:20px;
	padding:10px;
	padding-right:20px;
	border:none;
	border-radius:0;
	
}
#carousel-worksheet>.carousel-indicators>li.active{
   background-color:  rgba(143,188,143,0.5);
}
#carousel-worksheet>.carousel-indicators>li::before,
#carousel-worksheet>.carousel-indicators>li::after {
	content:"";
	border:none;
	border-radius:0;
}

#readit {
 /* Set rules to fill background */
  min-height: 100%;
  min-width: 900px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
}
.canvas>i.fa{
	position:absolute;
	font-size:2em;
}
.canvas>i.fa-circle-o:hover:before {	
	content: '\f111';
	font-size: larger;
}
#legend {
	right: 10px;
	bottom: 280px;
}
#title {
	top: 10px;
	left: 450px;
}
#dataseries {
	left: 220px;
	top: 250px;
}
#verticalaxis {
	left: 0px;
	top: 150px;
}
#horizontalaxis {
	left: 200px;
	bottom: 5px;
}
.overviewtext {
 	position:absolute; 	
 	display: none;
 	width: 50%;
 	background: white; 	
 	margin:10px;
 	padding:10px;
 	border: solid thin black;
 	border-radius: 10px;
 }
.overviewtext h2 {
	padding: 10px;
	text-align: center;
	color:white;
	text-shadow: 2px 2px 3px black;	
}
#legendtext {
	top: 300px;
	right: 80px;
}
#titletext {
	top: 100px;
	left: 200px;
}
#dataseriestext {
	top: 200px;
 	left: 300px;
}
#verticalaxistext {
	top: 100px;
	left: 75px;	
}
#horizontalaxistext {
	bottom: 50px;
 	left: 250px;
}
#ifquickaccess {
	top: 20px;
	left: 150px;
}
#ifmyaccount {
	top: 50px;
	right: -40px;
}
#ifribbon {
	top: 50px;
	right: 200px;
}
#ifcommands {
	top: 120px;
	left: 260px;
}
#ifnamebox {
	top: 180px;
	left: 20px;
}
#ifformulabar {
	top: 180px;
	left: 300px;
}
#ifcolumn {
	top: 210px;
	left: 560px;
}
#ifrow {
	top: 240px;
	left: -10px;
}
#ifcell {
	top: 240px;
	left: 500px;
}
#ifworksheets {
	bottom: 10px;
	left: 70px;
}
#ifviews {
	bottom: -20px;
	right: 200px;
}
#ifzoom {
	bottom: -20px;
	right: 80px;
}
#ifscrollbars {
	bottom: 20px;
	right: -60px;
}
#ifquickaccesstext {
	top: 10px;
	left: 220px;
}
#ifmyaccounttext {
	top: 20px;
	right: 30px;
}
#ifribbontext {
	top: 20px;
	right: 260px;
}
#ifcommandstext {
	top: 90px;
	left: 330px;
}
#ifnameboxtext {
	top: 160px;
	left: 80px;
}
#ifformulabartext {
	top: 160px;
	left: 360px;
}
#ifcolumntext {
	top: 190px;
	left: 620px;
}
#ifrowtext {
	top: 220px;
	left: 50px;
}
#ifcelltext {
	top: 220px;
	left: 560px;
}
#ifworksheetstext {
	bottom: -20px;
	left: 140px;
}
#ifviewstext {
	bottom: -40px;
	right: 260px;
}
#ifzoomtext {
	bottom: -40px;
	right: 140px;
}
#ifscrollbarstext {
	bottom: 0px;
	right: 0px;
}
#ribbon{
	min-height: 300px;
	width:1500px;
}
#carousel-ribbon a {
	min-height: 300px;
}
#carousel-ribbon .carousel-inner,
#carousel-ribbon .carousel-inner .item {
	width:100%;
	min-height: 300px;
}
#carousel-ribbon .carousel-inner .item img {
	margin-top: 20px;
	min-height:35%;
	min-width:auto;
}
#carousel-ribbon .carousel-inner .item .carousel-caption {
	top: 35%;
}
#backstagemenu {
	border:none;
	background-color: #666;
	font-size:16px;
	width:20%;
}

#backstagemenu>li {		
	background-color: #666;
	color:white;	
	text-align: left;
}
#backstagemenu>li a {
	padding:7px;
	padding-left:17px;
	background-color: #666;
	border-radius:0px;
}
#backstagemenu>li.backstage-top {
	min-height: 10px;	
}
#backstagemenu>li.backstage-top>span {
	margin:10px;
}
#backstagemenu>li a:hover {
	background-color: darkgreen;
} 
#backstagemenu li.backstage-top:hover {	
	color: darkseagreen;
}
#backstagemenu li.active a,
#backstagemenu li.active a:focus {
	background-color: darkseagreen;
	width:100%;
	border:none;
}
#backstagedescription {
	position:absolute;
	top: 100px;
	left: 25%;
}
#backstagedescription>div {
	position:relative;
	top: -10px;
	width: 700px;
	height: 540px;
}
#backstagedescription>div::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-size: contain;	
	z-index: -1;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}
#bsinfo::before {	
	background-image: url("../img/backstage_info.png");
}
#bsnew::before {	
	background-image: url("../img/backstage_new.png");
}
#bsopen::before {	
	background-image: url("../img/backstage_open.png");
}
#bssaveas::before {	
	background-image: url("../img/backstage_saveas.png");
}
#bsprint::before {	
	background-image: url("../img/backstage_print.png");
}
#bsshare::before {	
	background-image: url("../img/backstage_share.png");
}
#bsexport::before {	
	background-image: url("../img/backstage_export.png");
}
#bsaccount::before {	
	background-image: url("../img/backstage_account.png");
}
#bsoptions::before {	
	background-image: url("../img/backstage_options.png");
}
.whitetrans {
	background-color: rgba(245,245,245,0.7);	
}
.whitetrans p {	
	color:black;
}
.tab-pane .whitetrans{
	position:relative;
	top: 100px;
}
div.alert-warning {    
    border: solid thick darkred;
    border-radius: 10px;
}
.alert-warning>header{     
    color:white;
    text-shadow: 2px 2px 4px #000000;
    background-color: darkred;
    text-align: center;
}
.alert-info {
	border-radius: 10px;
}
.white {
	color: white;
}
#exportoptions {
	max-width: 45%;
	height: auto;
}
#reviewdialog {
	max-width: 45%;
	height: auto;
	padding-right: 20px;
}
#documentinspector li {
	font-size: smaller;
	color:whitesmoke;
	text-shadow: 2px 2px 3px black;
}
#documentinspector li[tooltip]:hover:after {
	color: black;
	background-color: whitesmoke;
	
	content: attr(tooltip);
	font-family:'Courier New', Arial;

	position:absolute;
	top: 70px;
	right: 50px;

	width:420px;
	min-height:200px;

  	z-index: 20px;
  	padding: 15px;	

	border: solid thin black;
	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
  	border-radius: 10px;  	
}
#imgcelladdress {	
	padding-left: 20px;
	max-width:40%;
	height:auto;
}

#cellcontent dl>dd {
	padding-left: 10px;
}

@media print { 
	.canvas>i {
		display: none;
	}
	.canvas {		
		page-break-after: always;
	}
	.canvas .overviewtext p {		
		page-break-inside: avoid; 
	}
	.carousel-indicators {
		display:none;		
	}
	.carousel-inner,
	.carousel-inner .item {
		display: block;	
		width:100%;
		min-height: 300px;	
	}
	.carousel-control {
		display: none;
	}
	.carousel-caption {
		top: 35%;
	}

	.right, .left {
        width: 100%;
    }
    #backstagedescription {
    	position:relative;
    	top: 0px;
    	left: 0px;
    }    
	#backstagedescription>div {
		position:relative;
		top: 0px;
		width: 80%;
	}
	#backstagedescription>div::before {
		position:relative;
	}
    .whitetrans{
    	display:block;    
    }
    .tab-pane {
        page-break-inside: avoid; 
    }    
    .overviewtext h2 {
    	padding: 0px;
    }

    #ifquickaccesstext, #ifmyaccounttext, #ifribbontext,
    #ifcommandstext, #ifnameboxtext, #ifformulabartext,
    #ifcolumntext, #ifrowtext, #ifcelltext, #ifworksheetstext,
    #ifviewstext, #ifzoomtext, #ifscrollbarstext {	
    	display:block;
    	position:relative;
		left: 0px;
		top: 0px;
		right: auto;
		bottom: auto;
		width: 80%;
		border: none;
	}
}